<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="QMAClone" version="3.1">

<!--
	<servlet>
		<servlet-name>serviceServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serviceServlet</servlet-name>
		<url-pattern>/tv.dyndns.kishibe.qmaclone.QMAClone/service</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>statsServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.StatsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>statsServlet</servlet-name>
		<url-pattern>/stats</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>iconUploadServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.IconUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>iconUploadServlet</servlet-name>
		<url-pattern>/icon</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>imageProxyServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.ImageProxyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>imageProxyServlet</servlet-name>
		<url-pattern>/image/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>linkServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.service.LinkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>linkServlet</servlet-name>
		<url-pattern>/link</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>rssServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.RssServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rssServlet</servlet-name>
		<url-pattern>/rss.xml</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>remoteLoggingServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.RemoteLoggingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggingServlet</servlet-name>
		<url-pattern>/tv.dyndns.kishibe.qmaclone.QMAClone/remote_logging</url-pattern>
	</servlet-mapping>
-->

	<servlet>
		<servlet-name>devmodeServerStatusWebSocketServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.websocket.ServerStatusWebSocketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>devmodeServerStatusWebSocketServlet</servlet-name>
		<url-pattern>/devmode-websocket/tv.dyndns.kishibe.qmaclone.client.packet.PacketServerStatus</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>devmodeChatMessagesWebSocketServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.websocket.ChatMessagesWebSocketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>devmodeChatMessagesWebSocketServlet</servlet-name>
		<url-pattern>/devmode-websocket/tv.dyndns.kishibe.qmaclone.client.packet.PacketChatMessages</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>devmodeMatchingStatusWebSocketServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.websocket.MatchingStatusWebSocketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>devmodeMatchingStatusWebSocketServlet</servlet-name>
		<url-pattern>/devmode-websocket/tv.dyndns.kishibe.qmaclone.client.packet.PacketMatchingStatus</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>devmodeReadyForGameWebSocketServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.websocket.ReadyForGameWebSocketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>devmodeReadyForGameWebSocketServlet</servlet-name>
		<url-pattern>/devmode-websocket/tv.dyndns.kishibe.qmaclone.client.packet.PacketReadyForGame</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>devmodeGameStatusWebSocketServlet</servlet-name>
		<servlet-class>tv.dyndns.kishibe.qmaclone.server.websocket.GameStatusWebSocketServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>devmodeGameStatusWebSocketServlet</servlet-name>
		<url-pattern>/devmode-websocket/tv.dyndns.kishibe.qmaclone.client.packet.PacketGameStatus</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>QMAClone.html</welcome-file>
	</welcome-file-list>

	<!-- https://issues.apache.org/jira/browse/AMQ-6154 -->
	<absolute-ordering/>
</web-app>
